.carousel-inner img {

    margin: auto;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.3em;
}
a {
    color: white;
}
a:hover {
    color: white;
    font-size: 1.1em;
}

#mainCarouselTestimonials {
    height: 480px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#mainCarouselTestimonials > * {

}

.testimonial {
    padding:  0px 120px;
}

.testimonialText {
    font-size: 2em;
    font-style: italic;
    display: inline-block;
}

.testimonialQuotes {
    font-size: 2em;
    font-style: italic;
}
.testimonialName {

}