.carousel-inner img {

    margin: auto;
}

.carousel {
	margin: 2px 1px;
}

.carousel h1 {
    font-size: 3em;
}
.carousel p {
    font-size: 1.3em;
}
.carousel a {
    color: white;
}
.carousel a:hover {
    color: white;
    font-size: 1.1em;
}
.jumbotron {
	height: 400px;
	padding: ;
	margin: 0px 15px 2px 15px;
}